.edit-link
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

.close-edit-link
{
  position: absolute;
  top: 0;
  right: 10;
  z-index: 2;
  font-size: 24;
  cursor: pointer;
}

.active
{
  z-index: 1;
}

.inactive
{
  z-index: -1;
  visibility: hidden;
}
